//output: dialog.hbs.html
//begin
script.dialog-placeholder-control-template(type="text/template")
  .dialog-placeholder(id='{{id}}' style='display: none')
    .modal-body
        .modal-contents
          .content-placeholder
        .external-buttons-container
          .modal-button.close-button
