<header role="banner" class="navbar-fixed-top hidden-sm hidden-xs">
            <div class="container">
                <div class="row">

                    <!-- LOGO -->
                    <div class="col-lg-3 col-md-2">
                        <a href="/">
                            <div id="logo">
                                <img src="../assets/img/logo.png" alt="Magna Sistemas" title="Magna Sistemas">
                            </div>
                        </a>
                    </div>
                    <!-- LOGO -->

                    <!-- MENU -->
                    <div class="col-lg-6 col-md-7" [hidden]="!token">
                        <nav id="menu">
                            <ul>
                                <li><a href="#/popular">Institucional</a></li>
                                <li><a href="/wps/portal/intranet/aplicacoes">Aplicações</a></li>
                                <li><a href="/wps/portal/intranet/documentacao">Documentação</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- MENU -->

                    <!-- ICONS -->
                    <!-- <div class="col-lg-3 col-md-3" [hidden]="!token">
                        <nav id="icons">
                            <ul>
                                <li title="Novidades"><a class="icon icon_notification" href="/wps/portal/intranet/novidades"></a></li>
                                <li title="Email"><a class="icon icon_email" href="/wps/portal/intranet/webmail"></a></li>
                                <li title="Sametime" id="sametime"><a class="icon icon_chat"></a></li>
                                <li title="Busca">
                                    <form action="/wps/portal/intranet/busca" method="get">
                                        <input class="search-geral" placeholder="Buscar por" name="search_query" type="search"><input class="submit-geral" type="submit">
                                    </form>
                                </li>
                                <li title="Sair"><a class="icon icon_logoff" href="/wps/myportal/!ut/p/z1/pZKxDsIwDES_hS-I1dA0jClDxEBVgYDiBWVCkaAwVHw_8QRI6DzUW5R3ujvLhs1geEyvfE1TfozpVt5ndhf6mUDtrmotkQ-NOSFgv7KGwXdNWB-3DulV_7hsZuklINJXSn4BUP_eKf497u9rxT_86_8NKvuzMH_sNP8SEOmPil4AxvGw3s_LL4B6P6ytmGEGOXEIyA1DYK0BZQvP--EzA-VNDos3LE2zeA!!/dz/d5/L3dJVkNwQSEhL0lCakFBQXlBQkVRaUlBISEvNE5sRkNvWTRWSEZnSkEhIS9aNl8wMDAwMDAwMDAwMDAwMEEwQlIyQjMwMDhBNy9tTDpFN04yWUF4US83MTkvbG8!/"></a></li>
                            </ul>
                        </nav>
                    </div> -->
                    <!-- ICONS -->

                </div>
            </div>          
        </header>