@charset "UTF-8";
.cptm-color-7 {
  color: #A8034F;
}

.cptm-color-8 {
  color: #A39E8C;
}

.cptm-color-9 {
  color: #00AA9E;
}

.cptm-color-10 {
  color: #00829B;
}

.cptm-color-11 {
  color: #F55F1A;
}

.cptm-color-12 {
  color: #1C146B;
}

.cptm-color-13 {
  color: #00B352;
}

.cptm-color-14 {
  color: #121C26;
}

.cptm-bg-7 {
  background: #A8034F;
}

.cptm-bg-8 {
  background: #A39E8C;
}

.cptm-bg-9 {
  background: #00AA9E;
}

.cptm-bg-10 {
  background: #00829B;
}

.cptm-bg-11 {
  background: #F55F1A;
}

.cptm-bg-12 {
  background: #1C146B;
}

.cptm-bg-13 {
  background: #00B352;
}

.cptm-bg-14 {
  background: #121C26;
}

.icon-weather {
  height: 61px;
  width: 61px;
  background: url("/assets/modulos/widgets/css/images/widgets/icons-weather.png") no-repeat;
}

.icon-weather.ec {
  background-position: -5px -5px;
}

.icon-weather.ci {
  background-position: -76px -5px;
}

.icon-weather.in {
  background-position: -147px -5px;
}

.icon-weather.pc {
  background-position: -218px -5px;
}

.icon-weather.pn {
  background-position: -289px -5px;
}

.icon-weather.cv {
  background-position: -360px -5px;
}

.icon-weather.ch {
  background-position: -431px -5px;
}

.icon-weather.t {
  background-position: -502px -5px;
}

.icon-weather.ps {
  background-position: -573px -5px;
}

.icon-weather.e {
  background-position: -644px -5px;
}

.icon-weather.n {
  background-position: -715px -5px;
}

.icon-weather.cl {
  background-position: -786px -5px;
}

.icon-weather.nv {
  background-position: -857px -5px;
}

.icon-weather.g {
  background-position: -928px -5px;
}

.icon-weather.ne {
  background-position: -999px -5px;
}

.icon-weather.nd {
  background-position: -1070px -5px;
}

.icon-weather.pnt {
  background-position: -1141px -5px;
}

.icon-weather.npt {
  background-position: -1212px -5px;
}

.icon-weather.npn {
  background-position: -1283px -5px;
}

.icon-weather.npm {
  background-position: -1354px -5px;
}

.icon-weather.vn {
  background-position: -1425px -5px;
}

.icon-weather.ct {
  background-position: -1496px -5px;
}

.icon-weather.pp {
  background-position: -1567px -5px;
}

.icon-weather.c {
  background-position: -1638px -5px;
}

.icon-weather.ncn {
  background-position: -1709px -5px;
}

.icon-weather.npt {
  background-position: -1212px -5px;
}

.icon-weather.npm {
  background-position: -1354px -5px;
}

.icon-weather.npp {
  background-position: -1922px -5px;
}

.icon-weather.psc {
  background-position: -1993px -5px;
}

.icon-weather.pcm {
  background-position: -2064px -5px;
}

.icon-weather.pct {
  background-position: -2135px -5px;
}

.icon-weather.pcn {
  background-position: -2206px -5px;
}

.icon-weather.ppn {
  background-position: -2277px -5px;
}

.icon-weather.ppt {
  background-position: -2348px -5px;
}

.icon-weather.ppm {
  background-position: -2419px -5px;
}

.icon-weather.cm {
  background-position: -2490px -5px;
}

.icon-weather.cn {
  background-position: -2561px -5px;
}

.icon-weather.pt {
  background-position: -2632px -5px;
}

.icon-weather.pm {
  background-position: -2703px -5px;
}

.icon-weather.np {
  background-position: -2774px -5px;
}

.forecast-featured .icon-weather {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 20px;
  left: 50%;
}

.forecasts-others .day-item {
  position: relative;
}

.forecasts-others .day-item .icon-weather {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: scale(0.4) translate(140%, -50%);
  -moz-transform: scale(0.4) translate(140%, -50%);
  -ms-transform: scale(0.4) translate(140%, -50%);
  -o-transform: scale(0.4) translate(140%, -50%);
  transform: scale(0.4) translate(140%, -50%);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

.weather-widget.line-7:hover {
  color: #A8034F;
}

.weather-widget.line-7:hover span {
  color: #A8034F;
}

.weather-widget.line-7:hover .forecasts .forecast-featured {
  border-right: 1px solid #A8034F;
}

.weather-widget.line-8:hover {
  color: #A39E8C;
}

.weather-widget.line-8:hover span {
  color: #A39E8C;
}

.weather-widget.line-8:hover .forecasts .forecast-featured {
  border-right: 1px solid #A39E8C;
}

.weather-widget.line-9:hover {
  color: #00AA9E;
}

.weather-widget.line-9:hover span {
  color: #00AA9E;
}

.weather-widget.line-9:hover .forecasts .forecast-featured {
  border-right: 1px solid #00AA9E;
}

.weather-widget.line-10:hover {
  color: #00829B;
}

.weather-widget.line-10:hover span {
  color: #00829B;
}

.weather-widget.line-10:hover .forecasts .forecast-featured {
  border-right: 1px solid #00829B;
}

.weather-widget.line-11:hover {
  color: #F55F1A;
}

.weather-widget.line-11:hover span {
  color: #F55F1A;
}

.weather-widget.line-11:hover .forecasts .forecast-featured {
  border-right: 1px solid #F55F1A;
}

.weather-widget.line-12:hover {
  color: #1C146B;
}

.weather-widget.line-12:hover span {
  color: #1C146B;
}

.weather-widget.line-12:hover .forecasts .forecast-featured {
  border-right: 1px solid #1C146B;
}

.weather-widget.line-13:hover {
  color: #00B352;
}

.weather-widget.line-13:hover span {
  color: #00B352;
}

.weather-widget.line-13:hover .forecasts .forecast-featured {
  border-right: 1px solid #00B352;
}

.weather-widget.line-14:hover {
  color: #121C26;
}

.weather-widget.line-14:hover span {
  color: #121C26;
}

.weather-widget.line-14:hover .forecasts .forecast-featured {
  border-right: 1px solid #121C26;
}

.weather-widget {
  height: 100%;
}

.weather-widget span {
  color: #6d6e71;
}

.weather-widget .fail {
  background: url("/assets/modulos/widgets/css/images/widgets/icons-weather-sad.png") no-repeat;
  background-position: center 16px;
  display: table;
  width: 100%;
  height: 100%;
}

.weather-widget .fail p {
  padding-top: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.weather-widget .city {
  top: 5px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  position: absolute;
  width: 100%;
  font-size: 21px;
  text-align: center;
}

.weather-widget .source {
  display: inline-block;
  bottom: 0px;
  right: 0px;
  position: absolute;
  font-style: italic;
  font-size: 0.45em;
  margin-left: 5px;
  text-align: right;
}

.weather-widget .source::before {
  content: "(";
}

.weather-widget .source::after {
  content: ")";
}

.weather-widget .forecasts {
  bottom: 10px;
  top: 30px;
  position: absolute;
  width: 100%;
}

.weather-widget .forecasts .max-temp, .weather-widget .forecasts .min-temp {
  font-size: 0.9em;
}

.weather-widget .forecasts .max-temp::after, .weather-widget .forecasts .min-temp::after {
  font-size: 9px;
  vertical-align: top;
  content: 'ºC';
}

.weather-widget .forecasts .forecast-featured {
  position: relative;
  float: left;
  height: 100%;
  width: 45%;
  flex-grow: 1;
  border-right: 1px solid #6d6e71;
}

.weather-widget .forecasts .forecast-featured .temps-text {
  position: "absolute";
  right: 10px;
  bottom: 0px;
  position: absolute;
}

.weather-widget .forecasts .forecast-featured .max-temp, .weather-widget .forecasts .forecast-featured .min-temp {
  font-weight: bold;
  text-align: right;
}

.weather-widget .forecasts .forecast-featured .max-temp {
  font-size: 1.4em;
}

.weather-widget .forecasts .forecast-featured .day-area {
  height: 100%;
}

.weather-widget .forecasts .forecast-featured .day-area * {
  display: block;
}

.weather-widget .forecasts .forecast-featured .day-area .day-text {
  position: absolute;
  bottom: 4px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.weather-widget .forecasts .forecasts-others {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 2px;
  float: left;
}

.weather-widget .forecasts .forecasts-others .min-temp, .weather-widget .forecasts .forecasts-others .max-temp {
  display: inline-block;
}

.weather-widget .forecasts .forecasts-others .min-temp {
  margin: 0 5px 0 4px;
}

.weather-widget .forecasts .forecasts-others .day-item {
  display: block;
  height: initial;
}

.weather-widget .forecasts .forecasts-others .day-item .day-text {
  display: inline-block;
  margin: 2px 0;
  width: 90px;
  margin-right: 5px;
}
